body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.lable {
	border: 1px solid #ff0000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 5px;
}
.snehainput {
	background-color: #dedede;
	border-left: 1px solid #000000;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	padding: 2px 5px;
	color: #666666;
	outline: none;
}
